.about-section {
    background: url(../img/country2.png) no-repeat;
    background-size: 55%;
    background-color: #e3f2fd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 150px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.9);
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 17px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (minmax-width:1200px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        padding: 80px;
    }
}

@media screen and (minmax-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}

@media screen and (minmax-width:600px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
}